::selection {
  background: wheat;
  color: darkviolet;
}

:root {
  background-color: coral;
  background-image: radial-gradient(plum, thistle, violet, orchid, orange);
  color: indigo;
}

:any-link {
  color: indigo;
  background-color: transparent;
  text-shadow:
    3vw -3vh 3pc powderblue,
    -3vw 3vh 3pc powderblue,
    3vw 3vh 3pc powderblue;
}

:focus {
  outline: 1rem double purple;
}

a:hover {
  color: indigo;
  background-color: skyblue;
}

